.fitsBody {
   display: inline-block;
   background-color: #D8D8D8;
   border: 1px solid #808080;
   padding: 10px;
   font-size: 18px;
   font-style: normal;
   font-weight: normal;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titleLine {
   vertical-align: middle;
}

.fitsHdrDiv {
   background-color: #D8D8D8;
}

.hdrDiv{
   background-color: #D8D8D8;
}

.fitsHdr {
   display: inline-block;
   height: 500px;
   overflow-y: scroll;
   padding: 5px;
   border: 1px solid black;
}

.fitsOdd {
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#F0F8FF;
}

.fitsEven {
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#FFFFFF;
}

.fitsOddWCS {
   color: #0000A0;
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#F0F8E8;
}

.fitsEvenWCS {
   color: #0000A0;
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#FFFFE8;
}

.fitsOddCOM {
   color: #A00000;
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#F0F8FF;
}

.fitsEvenCOM {
   color: #A00000;
   margin: 0px 0px 0px 0px;
   font: 12px courier,sans-serif;
   background-color:#FFFFFF;
