.statDiv {background-color: #D8D8D8; border 1px solid #d0d0d0; padding: 5px;}

.stat    {padding: 0px; border:0px; font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.stat th {background-color: #808080; color: #ffff50; font-size: 11px; text-align: center;}
.stat td {background-color: #ffffff; color: #000000; width:  45px; font-size: 12px; padding: 3px 4px 2px 7px; text-align: right;}

.substat    {padding: 0px; border:0px; font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.substat td {background-color: #f0f0f0; color: #000000; width:  45px; font-size: 12px; white-space: nowrap; padding: 1px 2px 1px 3px;}
